<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
title :
<input type="text" id="create_tbpost_title" />
author :
<input type="text" id="create_tbpost_author" />
content :
<input type="text" id="create_tbpost_content" />

file:
<button onclick="$('#create_tbpost_img').trigger('click')">gogo upload</button>
<label for="create_tbpost_img">파일업로드하겠습니다.</label>
<input type="file" id="create_tbpost_img" onchange="readURLFile(this)" accept="image/*" />
<img id="img_tbpost_content" alt="" />
<!--<input type="file" id="create_tbpost_img" onchange="readURLFile(this)" accept="image/*"/>-->

<script>
    let limit_each_file_size = 10;
    function readURLFile(input){
        let temp_id = $(input).attr("id") + "";
        if(input.files && input.files[0]) {
            let reader = new FileReader();
            reader.readAsDataURL(input.files[0]);
            reader.onload = function(e) {
                let temp_each_file_size = input.files[0].size / (1024 * 1024);
                if(temp_each_file_size > limit_each_file_size) {
                    alert("파일 1개 당 " + limit_each_file_size + "mb 용량 제한 초과입니다.");
                    $(input).val("");
                    return false;
                }
                let file_type = "image";
                if(!input.files[0].type.match('image.*')) {
                    file_type = "file";
                } else {
                    file_type = "image";
                }
                alert(input.files[0].name);
                listener_upload_file(input.files[0]);
            }
        }
    }
    function listener_upload_file(obj_file) {
        let fileData = new FormData();
        fileData.append("file", obj_file);

        $.ajax({
            url: "/api/default/uploadFile",
            type: "POST",
            data: fileData ,
            cache : false,
            contentType : false,
            processData : false,
            success: (data, status, xhr)=>{
                //alert(xhr.status);
                switch(xhr.status){
                    case 201:
                        alert(JSON.stringify(data));
                        alert(data.url);
                        $("#create_tbpost_content").val(data.url);
                        $("#img_tbpost_content").attr("src", data.url);
                        break;
                    default:
                        console.log("no matching status code");
                }
            },
            error: (data)=>{
                alert("error")
            },
        });
    }
</script>

<button onclick="create_tbpost()">create</button>
<a href="/tbpost/list">link to list</a>

<script>
    function create_tbpost(){
        $.ajax({
            url: "/api/tbpost",
            type: "POST",
            contentType : 'application/json; charset=utf-8',
            data: JSON.stringify({
                title : $("#create_tbpost_title").val()
                ,author : $("#create_tbpost_author").val()
                ,content : $("#create_tbpost_content").val()
            }),
            cache: false,
            success: (data, status, xhr)=>{
                //alert("success!!");
                alert(JSON.stringify(data));
            },
            error: (data, status, xhr)=>{
                alert("error!!");
                alert(JSON.stringify(data));
            }
        });
    }
</script>
</body>
</html>